<a href="https://colab.research.google.com/github/Esteban191/ejercicio1/blob/master/datos_ETL_spoty_y_database_milk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import numpy as np # linear algebra
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import plotly.offline as pyo
import plotly.graph_objects as go
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , classification_report
from sklearn.metrics import plot_confusion_matrix

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/entregable 3/results.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32854 entries, 0 to 32853
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       32854 non-null  int64
 1   date_name        32854 non-null  object
 2   local_team_id    32854 non-null  int64
 3   local_team       32854 non-null  object
 4   local_result     32854 non-null  int64
 5   visitor_result   32854 non-null  int64
 6   visitor_team     32854 non-null  object
 7   visitor_team_id  32854 non-null  int64
dtypes: int64(5), object(3)
memory usage: 2.0+ MB

In [ ]:


from google.colab import data_table
data_table.enable_dataframe_formatter()

data_table.DataTable(df.head(), include_index=False, num_rows_per_page=25)

#df.head()

In [ ]:
df.local_team.head()

0      All Boys
1      Aldosivi
2      Aldosivi
3    Argentinos
4      Aldosivi
Name: local_team, dtype: object

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/entregable 3/milknew.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pH          1059 non-null   float64
 1   Temprature  1059 non-null   int64
 2   Taste       1059 non-null   int64
 3   Odor        1059 non-null   int64
 4   Fat         1059 non-null   int64
 5   Turbidity   1059 non-null   int64
 6   Colour      1059 non-null   int64
 7   Grade       1059 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 66.3+ KB

In [ ]:
df.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      1     0     1          0     254    high
1  6.6          36      0     1     0          1     253    high
2  8.5          70      1     1     1          1     246     low
3  9.5          34      1     1     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

In [ ]:
df.describe()

,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000
mean,6.630123,44.226629,0.546742,0.432483,0.671388,0.491029,251.840415
std,1.399679,10.098364,0.498046,0.495655,0.469930,0.500156,4.307424
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,250.000000
50%,6.700000,41.000000,1.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [ ]:
df.columns

Index(['pH', 'Temprature', 'Taste', 'Odor', 'Fat ', 'Turbidity', 'Colour',
       'Grade'],
      dtype='object')

In [ ]:
df.columns

Index(['Unnamed: 0', 'date_name', 'local_team_id', 'local_team',
       'local_result', 'visitor_result', 'visitor_team', 'visitor_team_id'],
      dtype='object')

In [ ]:
df = pd.ExcelFile('/content/drive/MyDrive/entregable 3/Ventas Videojuegos.xlsx')
##df.info()
df.parse()

In [ ]:
dfs = pd.read_excel('/content/drive/MyDrive/entregable 3/Ventas Videojuegos.xlsx', index_col=0)

In [ ]:
dfs.describe()

,Año,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global
count,16326.000000,16326.000000,16326.000000,16326.000000,16326.000000,16326.000000
mean,2006.405611,0.265415,0.147563,0.078667,0.048327,0.540247
std,5.828189,0.821616,0.508780,0.311566,0.189891,1.565779
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,2017.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
dfs.head()

,Plataforma,Año,Genero,Editorial,Ventas NA,Ventas EU,Ventas JP,Ventas Otros
Nombre,,,,,,,,
Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46
Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77
Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31
Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96
Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

In [ ]:
dfs.pop("Ventas Global")

Nombre
Wii Sports                                                 82.74
Super Mario Bros.                                          40.24
Mario Kart Wii                                             35.82
Wii Sports Resort                                          33.00
Pokemon Red/Pokemon Blue                                   31.37
                                                           ...
Farming 2017 - The Simulation                               0.01
Rugby Challenge 3                                           0.01
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru     0.01
Phantasy Star Online 2 Episode 4: Deluxe Package            0.01
Brothers Conflict: Precious Baby                            0.01
Name: Ventas Global, Length: 16326, dtype: float64

In [ ]:
dfs.head()

,Plataforma,Año,Genero,Editorial,Ventas NA,Ventas EU,Ventas JP,Ventas Otros
Nombre,,,,,,,,
Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46
Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77
Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31
Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96
Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

In [ ]:
dfs.columns

Index(['Plataforma', 'Año', 'Genero', 'Editorial', 'Ventas NA', 'Ventas EU',
       'Ventas JP', 'Ventas Otros'],
      dtype='object')

In [ ]:
dfs.rename(columns={'Ventas NA':'Norte America',
                                   'Ventas EU':'Europa',"Ventas JP":"Japon","Ventas Otros":"Otros"})

In [ ]:
from operator import index
#pivot=pd.pivot_table(dfs,index=,  values=["registor", "valor(millon)"])
#dfs.groupby(["Ventas NA","Ventas EU","Ventas JP","Ventas Otros"])("prei").mean()

#data = dfs.to_numpy().flatten()
#res = pd.DataFrame(data["Ventas NA","Ventas EU","Ventas JP","Ventas Otros"])

#dfs.melt(id_vars=["Ventas NA",],var_name=[("B")])

#dfs.pivot_table(index = ["Ventas NA"], columns = ["Ventas JP", "Ventas Otros"], values = ["Ventas EU"])

#pd.get_dummies(dfs)
dfs[['Ventas NA', 'Ventas EU',
       'Ventas JP', 'Ventas Otros']]
dfs2=[]

dfs2 = dfs.append([['Ventas NA', 'Ventas EU',
       'Ventas JP', 'Ventas Otros']])
dfs2

,0,1,2,3,Año,Editorial,Genero,Plataforma,Ventas EU,Ventas JP,Ventas NA,Ventas Otros
Wii Sports,NaN,NaN,NaN,NaN,2006.0,Nintendo,Sports,Wii,29.02,3.77,41.49,8.46
Super Mario Bros.,NaN,NaN,NaN,NaN,1985.0,Nintendo,Platform,NES,3.58,6.81,29.08,0.77
Mario Kart Wii,NaN,NaN,NaN,NaN,2008.0,Nintendo,Racing,Wii,12.88,3.79,15.85,3.31
Wii Sports Resort,NaN,NaN,NaN,NaN,2009.0,Nintendo,Sports,Wii,11.01,3.28,15.75,2.96
Pokemon Red/Pokemon Blue,NaN,NaN,NaN,NaN,1996.0,Nintendo,Role-Playing,GB,8.89,10.22,11.27,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...
Rugby Challenge 3,NaN,NaN,NaN,NaN,2016.0,Alternative Software,Sports,XOne,0.01,0.00,0.00,0.00
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,NaN,NaN,NaN,NaN,2016.0,dramatic create,Action,PSV,0.00,0.01,0.00,0.00
Phantasy Star Online 2 Episode 4: Deluxe Package,NaN,NaN,NaN,NaN,2017.0,Sega,Role-Playing,PSV,0.00,0.01,0.00,0.00
Brothers Conflict: Precious Baby,NaN,NaN,NaN,NaN,2017.0,Idea Factory,Action,PSV,0.00,0.01,0.00,0.00
0,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
products = pd.Series(['Intel Dell Laptops', 'HP Laptops', 'Lenavo Laptops', 'Acer Laptops'], name='Products')
dollar_price = pd.Series([350, 300, 400, 250 ], name='Price')
percentage_sale  = pd.Series([83, 99, 84, 76],name='Sale')
print(products)
print(dollar_price)
print(percentage_sale)


# merge two pandas series using the pandas.concat() method
df=pd.concat([products,dollar_price,percentage_sale ],axis=1)
print(df)

In [ ]:
# import pansas aspd 
datos ={"X":[1,2,3,4,5,], "Y":[5,4,3,2,1],"Z":[2,3,5,7,11]}

indices = ["a","b","c","d","e"]
  

df=pd.DataFrame(data=datos,index=indices) 
df

In [ ]:
for etiqueta,contenido in dfs.items():
  print("Nombre columba:", etiqueta)
  print("contenido:", contenido,sep="\n")

In [ ]:
##dfs.iloc[:,5]
dfs1=pd.DataFrame()

dfs1=dfs1.append(pd.DataFrame(data=dfs.iloc[:,4:]))
dfs1.head()

                          Ventas NA  Ventas EU  Ventas JP  Ventas Otros
Nombre
Wii Sports                    41.49      29.02       3.77          8.46
Super Mario Bros.             29.08       3.58       6.81          0.77
Mario Kart Wii                15.85      12.88       3.79          3.31
Wii Sports Resort             15.75      11.01       3.28          2.96
Pokemon Red/Pokemon Blue      11.27       8.89      10.22          1.00

In [ ]:
for etiqueta,contenido in dfs1.items():
  print("Nombrecolumba", etiqueta)
  print("contenido", contenido,sep="\n")

Nombrecolumba Ventas NA
contenido
Nombre
Wii Sports                                                 41.49
Super Mario Bros.                                          29.08
Mario Kart Wii                                             15.85
Wii Sports Resort                                          15.75
Pokemon Red/Pokemon Blue                                   11.27
                                                           ...
Farming 2017 - The Simulation                               0.00
Rugby Challenge 3                                           0.00
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru     0.00
Phantasy Star Online 2 Episode 4: Deluxe Package            0.00
Brothers Conflict: Precious Baby                            0.00
Name: Ventas NA, Length: 16326, dtype: float64
Nombrecolumba Ventas EU
contenido
Nombre
Wii Sports                                                 29.02
Super Mario Bros.                                           3.58
Mario Kart Wii                                             12.88
Wii Sports Resort                                          11.01
Pokemon Red/Pokemon Blue                                    8.89
                                                           ...
Farming 2017 - The Simulation                               0.01
Rugby Challenge 3                                           0.01
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru     0.00
Phantasy Star Online 2 Episode 4: Deluxe Package            0.00
Brothers Conflict: Precious Baby                            0.00
Name: Ventas EU, Length: 16326, dtype: float64
Nombrecolumba Ventas JP
contenido
Nombre
Wii Sports                                                  3.77
Super Mario Bros.                                           6.81
Mario Kart Wii                                              3.79
Wii Sports Resort                                           3.28
Pokemon Red/Pokemon Blue                                   10.22
                                                           ...
Farming 2017 - The Simulation                               0.00
Rugby Challenge 3                                           0.00
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru     0.01
Phantasy Star Online 2 Episode 4: Deluxe Package            0.01
Brothers Conflict: Precious Baby                            0.01
Name: Ventas JP, Length: 16326, dtype: float64
Nombrecolumba Ventas Otros
contenido
Nombre
Wii Sports                                                 8.46
Super Mario Bros.                                          0.77
Mario Kart Wii                                             3.31
Wii Sports Resort                                          2.96
Pokemon Red/Pokemon Blue                                   1.00
                                                           ...
Farming 2017 - The Simulation                              0.00
Rugby Challenge 3                                          0.00
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru    0.00
Phantasy Star Online 2 Episode 4: Deluxe Package           0.00
Brothers Conflict: Precious Baby                           0.00
Name: Ventas Otros, Length: 16326, dtype: float64

In [ ]:
#ETL SPOTY extract

import sqlalchemy
import pandas as pd 
from sqlalchemy.orm import sessionmaker
import requests
import json
from datetime import datetime
import datetime
import sqlite3

DATABASE_LOCATION = "sqlite:tracks.sqlite"
USER_ID = "andres"
TOKEN = "fNAxbB5uvHiE" 

if __name__ == "__main__":

    # Extract part of the ETL process
 
    headers = {
        "Accept" : "application/json",
        "Content-Type" : "application/json",
        "Authorization" : "Bearer {token}".format(token=TOKEN)
    }
     # Convert time to Unix timestamp in miliseconds      
    today = datetime.datetime.now()
    yesterday = today - datetime.timedelta(days=1)
    yesterday_unix_timestamp = int(yesterday.timestamp()) * 1000

    # Download all songs you've listened to "after yesterday", which means in the last 24 hours      
    r = requests.get("https://api.spotify.com/v1/me/player/recently-played?after={time}".format(time=yesterday_unix_timestamp), headers = headers)

    data = r.json()

    #print(data)

    song_names = []
    artist_names = []
    played_at_list = []
    timestamps = []

    # Extracting only the relevant bits of data from the json object      
    for song in data["items"]:
        song_names.append(song["track"]["name"])
        artist_names.append(song["track"]["album"]["artists"][0]["name"])
        played_at_list.append(song["played_at"])
        timestamps.append(song["played_at"][0:10])
        
    # Prepare a dictionary in order to turn it into a pandas dataframe below       
    song_dict = {
        "song_name" : song_names,
        "artist_name": artist_names,
        "played_at" : played_at_list,
        "timestamp" : timestamps
    }

    song_df = pd.DataFrame(song_dict, columns = ["song_name", "artist_name", "played_at", "timestamp"])
    
    print(song_df)
    print("Data valid, proceed to Load stage")

                                  song_name                artist_name  \
0                                Häxprocess                      Opeth
1                                    Undead                     Adagio
2                                    Broken             Sonata Arctica
3                                 Me Rehúso                Danny Ocean
4                                    No Way                Alain Caron
5       Besame Mucho - Live In Italy / 2013             Andrea Bocelli
6            Highway Star - Remastered 2012                Deep Purple
7   Seven Secrets of the Sphinx - Live 2005                    Therion
8                         Caprici Di Diablo           Yngwie Malmsteen
9                                   Aerials           System Of A Down
10                        Goodbye Supernova               Joe Satriani
11                          Prophets of War              Dream Theater
12                              Better Days               Smith/Kotzen
13                            Burning Angel                 Arch Enemy
14                  O Father O Satan O Sun!                   Behemoth
15                          Prophets of War              Dream Theater
16                               In the End                Linkin Park
17                         The Coma Machine  Between The Buried And Me
18                          Prophets of War              Dream Theater
19                          Prophets of War              Dream Theater

                   played_at   timestamp
0   2022-09-14T21:23:19.922Z  2022-09-14
1   2022-09-14T21:16:21.044Z  2022-09-14
2   2022-09-14T21:11:39.287Z  2022-09-14
3   2022-09-14T21:06:21.932Z  2022-09-14
4   2022-09-14T21:02:55.577Z  2022-09-14
5   2022-09-14T20:57:30.578Z  2022-09-14
6   2022-09-14T20:53:22.042Z  2022-09-14
7   2022-09-14T20:47:15.285Z  2022-09-14
8   2022-09-14T20:37:13.015Z  2022-09-14
9   2022-09-14T20:32:45.145Z  2022-09-14
10  2022-09-14T20:28:49.042Z  2022-09-14
11  2022-09-14T20:23:00.954Z  2022-09-14
12  2022-09-14T13:44:10.183Z  2022-09-14
13  2022-09-14T13:39:16.865Z  2022-09-14
14  2022-09-14T13:34:54.173Z  2022-09-14
15  2022-09-14T13:26:50.308Z  2022-09-14
16  2022-09-14T01:22:13.741Z  2022-09-14
17  2022-09-14T01:21:22.935Z  2022-09-14
18  2022-09-14T01:13:51.911Z  2022-09-14
19  2022-09-14T01:05:30.050Z  2022-09-14
Data valid, proceed to Load stage

In [ ]:
#ETL DE SPOTY TRANSFROMT

def check_if_valid_data(df: pd.DataFrame) -> bool:
    # Check if dataframe is empty
    if df.empty:
        print("No songs downloaded. Finishing execution")
        return False 

    # Primary Key Check
    if pd.Series(df['played_at']).is_unique:
        pass
    else:
        raise Exception("Primary Key check is violated")

    # Check for nulls
    if df.isnull().values.any():
        raise Exception("Null values found")

    # Check that all timestamps are of yesterday's date
    yesterday = datetime.datetime.now() - datetime.timedelta(days=1)
    yesterday = yesterday.replace(hour=0, minute=0, second=0, microsecond=0)

    timestamps = df["timestamp"].tolist()
    for timestamp in timestamps:
        if datetime.datetime.strptime(timestamp, '%Y-%m-%d') != yesterday:
            raise Exception("At least one of the returned songs does not have a yesterday's timestamp")

    return True



# Validate
    if check_if_valid_data(song_df):
      print("Data valid, proceed to Load stage")

In [ ]:
##ETL SPOTY LOAD

# Load

    engine = sqlalchemy.create_engine(DATABASE_LOCATION)
    conn = sqlite3.connect('my_played_tracks.sqlite')
    cursor = conn.cursor()

    sql_query = """
    CREATE TABLE IF NOT EXISTS my_played_tracks(
        song_name VARCHAR(200),
        artist_name VARCHAR(200),
        played_at VARCHAR(200),
        timestamp VARCHAR(200),
        CONSTRAINT primary_key_constraint PRIMARY KEY (played_at)
    )
    """

    cursor.execute(sql_query)
    print("Opened database successfully")

    try:
        song_df.to_sql("my_played_tracks", engine, index=False, if_exists='append')
    except:
        print("Data already exists in the database")

    conn.close()
    print("Close database successfully")

IndentationError: ignored